# 依赖
node_modules/
.pnp
.pnp.js

# 测试
coverage/
*.lcov

# 构建输出
dist/
dist-ssr/
*.local

# 编辑器
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 环境变量
.env
.env.local
.env.*.local

# 日志
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS
.DS_Store
Thumbs.db

# 临时文件
*.tmp
*.temp

# 打包文件
*.crx
*.pem
*.zip
